*,*::after,*::before{
    box-sizing: border-box;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3E6D7C;
    opacity: .47;    
}